# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Environment
.env
.venv/
venv/

# macOS
.DS_Store

# Build artifacts
*.egg-info/

# Pixi environment
.pixi/

# Cache
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
.vscode

/data
/temp
