# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Data directories
/climate
/data
/temp